header{
    width: 70%;
    min-height: 20vh;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: darkcyan;
    box-shadow: -2px 0px 20px 6px rgba(6,133,179,1);
}

header h1{
    font-size: 4.5em;
    color: rgb(16, 224, 155);
}
header p{
    font-size: 1.25em;
    color: aquamarine;
}

main{
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    background-color: aqua ;
    box-shadow: -2px 0px 20px 6px rgba(6,133,179,1);
}
main p{
    color: rgb(1, 157, 247);
    font-size: 2em;
    text-align: center;
    padding-top: 1em;
}
