header{
    width: 70%;
    height: 20vh;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
}

header h1{
    font-size: 4em;
    color: rgb(16, 189, 131);
}