*{
    margin: 0;
    padding: 0;
    box-sizing:border-box;
}
html{
    background: rgb(210, 248, 231);
}
header{
    width: 70%;
    min-height: 20vh;
    margin: 0 auto;
    margin-top: 2em;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;
    background-color: darkcyan;
    box-shadow: -2px 0px 20px 6px rgba(6,133,179,1);
}

header h1{
    font-size: 4.5em;
    color: rgb(16, 224, 155);
}
header p{
    font-size: 1.25em;
    color: aquamarine;
}

h2{
    color: rgb(15, 196, 135);
    font-size: 2em;
}

main{
    width: 70%;
    height: 60vh;
    margin: 0 auto;
    background-color: aqua ;
    box-shadow: -2px 0px 20px 6px rgba(6,133,179,1);
}
main p{
    color: rgb(1, 157, 247);
    font-size: 2em;
    text-align: center;
    padding-top: 1em; 
}
footer{
    background: darkgreen;
    margin: 0 auto;
    width: 70%;
    padding: 0.5em;
    text-align: center;
    font-size: 2em;
    color: rgb(8, 241, 241);
}